
:root {
  --background-color: rgb(0, 0, 0);
  --background-padding: 8px 8px 8px 8px;
  --border-color: rgb(255, 255, 255);
  --border-image: url();
  --border-width: 2px;
  --border-radius: 0px;
  --border-shadow: 0;
  --font-color: rgb(255, 255, 255);
  --font-color-shadow: 0;
  --font-color-fail: rgb(245, 0, 87);
  --font-color-fail-shadow: 0;
  --font-color-success: rgb(33, 150, 243);
  --font-color-success-shadow: 0;
  --font-size: 1.5rem;
  --font-shadow: 0;
  --image-radius: 0%;
  --width: 100%;
  --line-clamp: 30;
}

/**************************
各種調整
**************************/
/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
/*   visibility: hidden; */
}

/* タブ領域 */
.MuiPaper-elevation1
{
  visibility: hidden;
}

/* アニメーション設定 */
.MuiListItem-alignItemsFlexStart{
  animation:
  /* 今はフェードインのみ */
  fadeIn  2s ease 0s;

  /* こっちでフェードアウトも有効 */
  /* fadeIn  2s ease 0s;
  fadeOut 2s ease 8s forwards; */
  }
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.MuiList-root>div:nth-child(1)>div>div>div:nth-last-child(-n+5) {
  display: block !important;
}
/* 入力欄 */
form > div,
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
header>.MuiToolbar-gutters,

/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/**************************
デザイン
**************************/
/* わからん */
.MuiDrawer-root>.MuiPaper-root {
  width: 100%;
}
/* わからん */
hr {
  display: none;
}
/* わからん */
.MuiDrawer-paperAnchorDockedRight {
  border: none;
}

/* メッセージの枠のデザイン */
.MuiListItem-root {
  padding: var(--background-padding);
  background: var(--background-color);
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  border-image: var(--border-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: var(--border-shadow);
  align-items: center;
  margin-bottom: 20;
}

/* アイコンのマージン */
.MuiListItemAvatar-alignItemsFlexStart {
  margin: 0px;
}
/* アイコンの背景色 */
.MuiListItemAvatar-root>div {
  background: transparent;
  border-radius: var(--image-radius);
}

/* メッセージ領域の背景色 */
.MuiPaper-root {
  background-color: #ff000000;
}

/* メッセージのフォントサイズ */
.MuiTypography-body2 {
  font-size: var(--font-size);
}

/* メッセージウインドウのの広さ？ */
.MuiList-root>div:nth-child(1)>div>div {
  height: 50vh !important;
}

/* メッセージのdivに何かしてる */
.MuiList-root>div:nth-child(1)>div>div>div {
  display: none;
  /*  この下いらない？  */
  height: auto !important;
  min-height: auto !important;
  width: var(--width) !important;
  position: absolute !important;
  flex-shrink: 0;
}

/* わからん */
.MuiListItemText-root {
  overflow: hidden;
}

/* 件名とテキストになにかしてる*/
p.MuiTypography-root,
.MuiTypography-colorTextSecondary {
  color: var(--font-color);
  text-shadow: var(--font-color-shadow);  
}

/* わからん */
p.MuiTypography-root {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);
}

/* 成功と失敗の何か？ */
.MuiTypography-colorPrimary {
  color: var(--font-color-success);
  text-shadow: var(--font-color-success-shadow);
}
.MuiTypography-colorSecondary {
  color: var(--font-color-fail);
  text-shadow: var(--font-color-fail-shadow);
}