/*
OBSのブラウザソースは、「Discord StreamKit Overlay」の"VOICE WIDGET"で取得したURLを入力してください。
参照: https://streamkit.discord.com/overlay
author: 🍙
*/

/*
以下で指定したIDのユーザ以外の画像を非表示にする
discordでユーザーIDをコピーして以下のdata-reactidを置換
*/
li.voice-state:not([data-reactid*="000000000000000000"]) { display:none; }

/* 喋っていない時のアバター設定*/
.avatar {
    /* 表示される画像を設定 */
    content:url(
        https://cdn.discordapp.com/attachments/989399572478574664/1034306344007770232/onigirikun_a.png
    );
    height:auto !important;
    width:95% !important;
    border-radius:0 !important;
    /* ここで非発言時の明るさを設定 */
    filter: brightness(50%);
}

/*喋った時のアバター設定*/
.speaking {
    /* 枠を消す */
    border-color:rgba(0,0,0,0) !important;
    /* アニメーション設定 */
    animation-name: speak-now;
    position:relative;
    /* アニメーションをループする */
    animation: infinite alternate ease-in-out speak-now; 
    /* アニメーションの間隔 */
    animation-duration: 500ms;
    /* 明るさを設定 */
    filter: brightness(100%) ;
}

/*跳ね具合の設定*/
@keyframes speak-now {
    0% {bottom: 0%;}
    50% {bottom: 75%;}
    100% {bottom: 0%;}
}

/* 色々消す */
li.voice-state{ position: static; text-align: center;}
div.user{ display: none; }
body { background-color: rgba(0, 0, 0, 0); overflow: hidden; }